{% extends "_layouts/cp" %}

{% set title = "Sync Database" %}

{% do view.registerAssetBundle('unionco\\craftsyncdb\\assetbundles\\cp\\CpAsset') %}

{% block content %}
    {% import "_includes/forms" as forms %}

    {% if output is defined %}
        <h3>Output</h3>
        
        {{ output | raw }}
        
    {% endif %}
    <form data-sync-db method="POST" action="/admin/sync-db/init">
        {{ csrfInput() }}
        {{ redirectInput('/admin/sync-db/') }}
        <input type="hidden" name="timeoutInMs" value="1000"/>
        {{ forms.selectField({
            label: 'Source',
            name: 'env',
            id: 'source',
            options: syncdb.cp.sourceOptions(),
        }) }}
        {# <input type="hidden" name="logFile" value="testing-{{ 'now' | date('m-d-Y-H-i-s') }}"/> #}
        {{ forms.textField({
            label: 'Log File',
            name: 'logFile',
            id: 'logFile',
            value: 'sync-db_' ~ siteName ~ '_' ~ ('now' | date('c')) ~ '.log',
            instructions: 'Log files are stored in CRAFT_STORAGE_PATH'
        })}}
        <button class="btn submit" type="submit">Start</button>
    </form>

    <div data-output></div>
{% endblock %}