{% extends "_layouts/cp" %}

{% set title = "Sync Database" %}

{% block content %}
    {% import "_includes/forms" as forms %}
    {% set sources = syncdb.cp.sourceOptions %}
    {% set timestamp = 'now' | date('Y-m-d_H:i:s') %}
    <form action="/{{ craft.app.config.general.cpTrigger }}/sync-db/sync" data-sync-db method="POST">
        {{ csrfInput() }}
        {{ redirectInput('/' ~ craft.app.config.general.cpTrigger ~ '/sync-db/') }}
        <div id="vue-sync-settings">
            <sync-settings sources-json="{{ sources | json_encode }}" timestamp="{{ timestamp }}" storage-path="test"></sync-settings>
        </div>
     </form>
{% endblock %}

{% do view.registerAssetBundle("unionco\\craftsyncdb\\assetbundles\\cp\\CpAsset") %}
{% js %}
new Vue({el: '#vue-sync-settings'});
{% endjs %}
