{% extends "_layouts/cp" %}

{% set title = "Sync Database" %}

{% block content %}
    {% set cpTrigger = craft.app.config.general.cpTrigger %}
    {% set settings = syncdb.getSettings %}
    {% set timestamp = 'now' | date('Y-m-d_H:i:s') %}
    <form action="/{{ cpTrigger }}/sync-db/sync" data-sync-db method="POST">
        {{ csrfInput() }}
        {{ redirectInput('/' ~ cpTrigger ~ '/sync-db/') }}
        <div data-vue="preview" data-settings-json="{{ settings|json_encode }}"
            data-timestamp="{{ timestamp }}" 
            data-environments-json="{{ syncdb.syncDb.settings.environments | json_encode }}"
            data-storage-path="{{ craft.app.path.getStoragePath }}">
            <div data-app></div>
        </div>
    </form>
{% endblock %}

{% do view.registerAssetBundle("unionco\\craftsyncdb\\assetbundles\\cp\\CpAsset") %}
